[Unit]
Description=V-Sensor MQTT Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m app_pi.service
WorkingDirectory=/opt/vsensor
Environment=VSENSOR_CONFIG_FILE=/opt/vsensor/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
